.synopsis {
    color: #7E8184;        /* Light gray */
    font-style: italic;
}

p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

.button:link,
.button:visited
.button:active,
.button:visited:active {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995DA;  /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;     /* Yellow */
}

.page {
    width: 600px;
    margin: 0 auto;
}

.call-to-action {
    font-style: italic;
    background-color: #EEB75A;    /* Yellow */
}

#button-2 {
    color: #5D6063;  /* Dark gray */
}

.synopsis em {
    font-style: normal;
}

a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:hover {
    color: aqua;
    text-decoration: underline;
}
a:active {
    color: red;
}

.page > p:first-of-type {
    color: #7E8184;
    font-style: italic;
}
