body {
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
    font-size: 18px;

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;                              /* Add this */
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}

